DEV=true
PARSE_APP_ID=<>
PARSE_APP_NAME=""
PARSE_MASTER_KEY=<>
PARSE_FILE_KEY=<>
PARSE_SERVER_URL=http://localhost:3000/parse
MONGO_URL=<>
PARSE_DASHBOARD_PASSWORD=<>
EXPRESS_PORT=3000

SMTP_HOST=<>
SMTP_PORT=<>
SMTP_USERNAME=<>
SMTP_PASSWORD=<>
SMTP_FROM=<>
